/* Sidebar Element */

.sidebar {
  position: fixed;
  width: 270px;
  height: 100%;
  background-color: var(--clr-body);
  border-right: 5px solid var(--clr-box-sh);
  top: 0;
  left: -270px;
  z-index: 1;
  transition: all 1s ease-in-out;
}
.nav {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav__logo {
  position: absolute;
  top: var(--mb-1-5);
  left: 4rem;
  right: 0;
  top: 5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav__logo-text {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--clr-title);
  font-weight: var(--font-semibold);
  letter-spacing: var(--mb-0-5);
}
.nav__logo span {
  letter-spacing: 0;
}

.nav__toggler {
  position: fixed;
  left: 5rem;
  top: 41px;
  color: var(--clr-text);
}

.nav__list {
  position: relative;
  left: -2rem;
}
.nav__item {
  position: relative;
  margin-bottom: var(--mb-1-5);
}

.nav__item::after {
  position: absolute;
  content: "";
  width: 130px;

  color: var(--clr-skin);
  border-bottom: 0.5px solid var(--clr-text);
  bottom: -10px;
}

.nav__link {
  height: 100%;
  align-items: center;
  color: var(--clr-title);
  font-weight: var(--font-semibold);
  position: relative;
  transition: 0.3s;
}
.nav__menu-sec .flex a:hover,
.nav__link:hover {
  color: var(--clr-skin);
}

.nav__link i {
  font-size: var(--h3-font-size);
  padding-right: var(--mb-0-75);
}

.nav__menu-sec {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
}

.nav__menu-sec .flex {
  gap: 2rem;
}
.nav__menu-sec .flex a {
  color: var(--clr-text);
}

.togglenav {
  left: 0px;
  background: hsl(0 0% 0% / 0.4);
  z-index: 2;
  width: 270px;
  transition: all 1s ease-in-out;
  backdrop-filter: blur(0.4rem);
}
.togglebtn {
  left: 20px;
}

@media screen and (min-width: 1200px) {
  .sidebar {
    background-color: var(--clr-body);
    left: 0px;
  }
  .nav__toggler {
    display: none !important;
  }
}
/* style switcher */

.element {
  position: fixed;
  right: 0;
  top: 40px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--clr-text);
  background: var(--clr-box-sh);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.5s ease;
  transform: translateX(100%);
}

.element.open {
  transform: translateX(-25px);
}

.s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--clr-box-sh);
  right: 100%;
  border: 1px solid var(--clr-text);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 50%;
}

.s-icon i {
  line-height: 37px;
}

.element__toggler {
  top: 0;
}

.element__icon {
  top: 55px;
}

.element h4 {
  margin: 0 0 10px;
  color: var(--skin-color);
  font-size: 16px;
  text-transform: capitalize;
}

.element .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.color-1 {
  background-color: hsl(342, 92%, 46%);
}

.color-2 {
  background-color: hsl(32, 92%, 46%);
}

.color-3 {
  background-color: hsl(128, 92%, 46%);
}

.color-4 {
  background-color: hsl(234, 92%, 46%);
}

.color-5 {
  background-color: hsl(318, 92%, 46%);
}

.ctoggle {
  cursor: pointer;
}
